<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    
     <style>
      
       a {
        
        text-decoration: none;
        padding:10px;
        background: rgb(21, 173, 102);
        border-radius: 5px;
        margin: 10px;
        text-align: center;
        color:aliceblue;
        text-transform: uppercase;
         
         
       }
       a:hover{
           
        background:yellowgreen;

       }
       #type{
           display:flex;
           align-items: center;
           
       }

     </style>
      
</head>
<body>
     
  <div id="type">
    <a href="/mget/">Method Get</a>
      <a href="/mpost/">Method Post</a>
      <a href=" {{  url_for('sess')}} ">Session</a>
  </div>

</body>
</html>